.row {
  width: 992px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

/* BLOCCO LEZIONI */
#lezioni .row>.left,
#lezioni .row>.right {
  width: 50%;
  float: left;
}

#lezioni .row img {
  /* per centrare orizzontalmente */
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#lezioni {
  text-align: center;
}

/* BLOCCO STEPS */
#steps .row>.left,
#steps .row>.central,
#steps .row>.right {
  float: left;
  width: 33%;
}

#steps {
  text-align: center;
}

/* BLOCCO PERCHE */
#why {
  text-align: center;
}

#why .row>.first,
#why .row>.second,
#why .row>.third {
  width: 100%;
  margin-top: 80px;
}

#why .row img {
  background-color: #428bca;
  border-radius: 50%;
  padding: 30px
}

/* COMMON */
.row::after {
  content: '';
  display: table;
  clear: both;
}

.container.grey {
  background-color: #f9f9f9;
}

img {
  height: 200px;
}

.clear {
  clear: both;
}


@media screen and (max-width: 420px) {

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .container {
    width: 90%;
    margin: 0 auto;
  }

  .row {
    width: 100%;
    padding: 0 20px;
    margin: 60px 0;
  }

  .grey .row {
    padding: 35px 20px;
  }

  .row > div {
    float: none !important;
    width: 100% !important;
    margin: 50px 0 0 !important;
  }

  img {
    height: 150px;
  }

  hr {
    margin-top: 50px;
  }

  h3 {
    margin: 20px 0;
  }

}

@media screen and (min-width: 421px) and (max-width: 1279px) {

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .container {
    width: 90%;
    margin: 0 auto;
  }

  .row {
    width: 100%;
    padding: 0 20px;
    margin: 60px 0;
  }

  .grey .row {
    padding: 35px 20px;
  }

  .row > div {
    margin: 50px 0 0 !important;
  }

  #steps .row>.left,
  #steps .row>.central,
  #steps .row>.right {
    float: none;
  }

  #steps .row>.left,
  #steps .row>.central {
    width: 40%;
    display: inline-block;
  }

  #steps .row>.right {
    display: block;
    width: 100%;
  }

  img {
    height: 150px;
  }

  hr {
    margin-top: 50px;
  }

  h3 {
    margin: 20px 0;
  }

}
